Django==4.2.7
psycopg2-binary==2.9.9
python-dotenv==1.0.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
whitenoise==6.6.0
Pillow==10.1.0
django-debug-toolbar==4.2.0
factory-boy==3.3.0
django-ninja==1.1.0
django-ninja-jwt==5.1.0
python-multipart==0.0.6